<!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
<!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
  #product-registration {
    font-weight: bold;
    color: #253066;
  }

  #search_box {
    width: 300px;
  }

  h2,
  h4 {
    display: inline;
  }
  .price {
    text-align: right;
  }

  /*
      1. 썸네일 높이를 일정하게 하고싶은데 이 방법을 쓰면 모바일이나 테블릿에서 어떤 현상이 일어나는지 모르겠음.
      2. 현재는 .thumbnail의 높이와 썸네일 안의 img의 높이를 고정시켜놓은 상태지만
         만약 제목이나 상품 설명이 길어진다면 썸네일 박스 밖으로 텍스트가 나가버림.
      3. .row.display-flex를 활성화시켜버리면 텍스트가 썸네일 밖으로 나가버리는 일은 없지만 썸네일의 길이가 일정하지 않게 됨.
      4. 우선적으로 row의 윗변의 위치는 모두 일정하게 해놓음. 따라서 썸네일이 듬성듬성 나오는 경우를 방지했음.
      */
  .thumbnail {
    padding: 0px;
    height: 400px;
  }

  /* .row.display-flex {
        display: flex;
        flex-wrap: wrap;
      } */

  .thumbnail img {
    height: 250px !important;
    width: 100%;
    object-fit: cover;
  }
  
  .carousel-inner img {
    width: 100%;
  }
</style>

<!-- Begin page content -->
<div class="container">
  <!-- Carousel: main-banner -->
  <div id="carousel-main-banner" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-main-banner" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-main-banner" data-slide-to="1"></li>
      <li data-target="#carousel-main-banner" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <!-- 이미지는 1140px * 500px, <img src..> 부분이 <img data-src...> 였음.-->
        <img src="img/Carousel_First_slide.jpg" alt="First slide" />
      </div>
      <div class="item">
        <img src="img/Carousel_Second_slide.jpg" alt="Second slide" />
      </div>
      <div class="item">
        <img src="img/Carousel_Third_slide.jpg" alt="Third slide" />
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-main-banner" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-main-banner" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel: main-banner end -->

  <!-- item Thumbnail: New Arrival -->
  <div class="page-header">
    <h1>New Arrival</h1>
  </div>

  <div class="row display-flex">
    <% for(var i = 0; i < products.length; i++) { %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="/product_details/<%=products[i]._id%>">
          <img src="<%=products[i].images[0]%>" alt="Thumbnail 1" />
          <div class="caption">
            <h3><%=products[i].title%></h3>
            <p><%=products[i].content%></p>
            <div class="price">
              <h2><%=products[i].price%></h2>
              <h4>&nbsp;원</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <% } %>
    <!-- <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="product_details">
          <img src="img/thumbnail_1.jpg" alt="Thumbnail 1" />
          <div class="caption">
            <h3>Thumbnail label 1</h3>
            <p>This item is for sale.</p>
            <div class="price">
              <h2>100.00</h2>
              <h4>&nbsp;$</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="product_details">
          <img src="img/thumbnail_2.jpg" alt="Thumbnail 2" />
          <div class="caption">
            <h3>Thumbnail label 2</h3>
            <p>This item is for sale.</p>
            <div class="price">
              <h2>200.00</h2>
              <h4>&nbsp;$</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="product_details">
          <img src="img/thumbnail_3.jpg" alt="Thumbnail 3" />
          <div class="caption">
            <h3>Thumbnail label 3</h3>
            <p>This item is for sale.</p>
            <div class="price">
              <h2>300.00</h2>
              <h4>&nbsp;$</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="product_details">
          <img src="img/thumbnail_4.jpg" alt="Thumbnail 4" />
          <div class="caption">
            <h3>Thumbnail label 4</h3>
            <p>This item is for sale.</p>
            <div class="price">
              <h2>400.00</h2>
              <h4>&nbsp;$</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="product_details">
          <img src="img/thumbnail_5.jpg" alt="Thumbnail 5" />
          <div class="caption">
            <h3>Thumbnail label 5</h3>
            <p>This item is for sale.</p>
            <div class="price">
              <h2>500.00</h2>
              <h4>&nbsp;$</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="product_details">
          <img src="img/thumbnail_6.jpg" alt="Thumbnail 6" />
          <div class="caption">
            <h3>Thumbnail label 6</h3>
            <p>This item is for sale.</p>
            <div class="price">
              <h2>600.00</h2>
              <h4>&nbsp;$</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="product_details">
          <img src="img/thumbnail_7.jpg" alt="Thumbnail 7" />
          <div class="caption">
            <h3>Thumbnail label 7</h3>
            <p>This item is for sale.</p>
            <div class="price">
              <h2>700.00</h2>
              <h4>&nbsp;$</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="product_details">
          <img src="img/thumbnail_8.jpg" alt="Thumbnail 8" />
          <div class="caption">
            <h3>Thumbnail label 8</h3>
            <p>This item is for sale.</p>
            <div class="price">
              <h2>800.00</h2>
              <h4>&nbsp;$</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="product_details">
          <img src="img/thumbnail_9.jpg" alt="Thumbnail 9" />
          <div class="caption">
            <h3>Thumbnail label 9</h3>
            <p>This item is for sale.</p>
            <div class="price">
              <h2>900.00</h2>
              <h4>&nbsp;$</h4>
            </div>
          </div>
        </a>
      </div>
    </div> -->
  </div>
  <!-- row: New Arrival end -->

  <!-- item Thumbnail: Popular item -->
  <div class="page-header">
    <h1>Popular item</h1>
  </div>

  <!-- Carousel: popular-item -->
  <div id="carousel-popular-item" class="carousel slide">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="row display-flex">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="product_details">
                <img src="img/thumbnail_1.jpg" alt="Thumbnail 1" />
                <div class="caption">
                  <h3>Thumbnail label 1</h3>
                  <p>This item is for sale.</p>
                  <div class="price">
                    <h2>100.00</h2>
                    <h4>&nbsp;$</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="product_details">
                <img src="img/thumbnail_2.jpg" alt="Thumbnail 2" />
                <div class="caption">
                  <h3>Thumbnail label 2</h3>
                  <p>This item is for sale.</p>
                  <div class="price">
                    <h2>200.00</h2>
                    <h4>&nbsp;$</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="product_details">
                <img src="img/thumbnail_3.jpg" alt="Thumbnail 3" />
                <div class="caption">
                  <h3>Thumbnail label 3</h3>
                  <p>This item is for sale.</p>
                  <div class="price">
                    <h2>300.00</h2>
                    <h4>&nbsp;$</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row display-flex">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="product_details">
                <img src="img/thumbnail_4.jpg" alt="Thumbnail 4" />
                <div class="caption">
                  <h3>Thumbnail label 4</h3>
                  <p>This item is for sale.</p>
                  <div class="price">
                    <h2>400.00</h2>
                    <h4>&nbsp;$</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="product_details">
                <img src="img/thumbnail_5.jpg" alt="Thumbnail 5" />
                <div class="caption">
                  <h3>Thumbnail label 5</h3>
                  <p>This item is for sale.</p>
                  <div class="price">
                    <h2>500.00</h2>
                    <h4>&nbsp;$</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="product_details">
                <img src="img/thumbnail_6.jpg" alt="Thumbnail 6" />
                <div class="caption">
                  <h3>Thumbnail label 6</h3>
                  <p>This item is for sale.</p>
                  <div class="price">
                    <h2>600.00</h2>
                    <h4>&nbsp;$</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row display-flex">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="product_details">
                <img src="img/thumbnail_7.jpg" alt="Thumbnail 7" />
                <div class="caption">
                  <h3>Thumbnail label 7</h3>
                  <p>This item is for sale.</p>
                  <div class="price">
                    <h2>700.00</h2>
                    <h4>&nbsp;$</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="product_details">
                <img src="img/thumbnail_8.jpg" alt="Thumbnail 8" />
                <div class="caption">
                  <h3>Thumbnail label 8</h3>
                  <p>This item is for sale.</p>
                  <div class="price">
                    <h2>800.00</h2>
                    <h4>&nbsp;$</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="product_details">
                <img src="img/thumbnail_9.jpg" alt="Thumbnail 9" />
                <div class="caption">
                  <h3>Thumbnail label 9</h3>
                  <p>This item is for sale.</p>
                  <div class="price">
                    <h2>900.00</h2>
                    <h4>&nbsp;$</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-popular-item" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-popular-item" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel: popular-item end -->
</div>
<!-- container end -->
